body {
  font-family: 'Open Sans', sans-serif;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/*hero and header*/
.hero {
  height: 600px;
  background-image: url(../images/burgers.jpg);
  background-position: center center;
  background-size: cover;
}

#hook {
  background-color: rgba(0,0,0,.5);
  height: 600px; 
}

.hook-type {
  color: #fff;
}

#logo {
  margin-top: 0px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  padding-top: 100px;
  display: block;
  padding: 0.2em 0.5em;
  border: #fff solid 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#margin {
  padding-top: 100px;
}

.hook-type {
  text-align: center;
}

/*search boxes*/
#search-bars {
  margin-bottom: 20px;
}

.input {
  display: block;
}

#search-bar {
  float: left;
}

.input, 
button {
  border-radius: 4px !important;
  margin-top: 10px;
  text-transform: capitalize;
}

#add-restaurant,
#submit {
  background-color: #de1500;
  color: #fff;
  border-color: #de1500;
}

/*results and body*/
#lists {
  display: none;
}

#result-list {
  display: none;
}

#manual-list {
  display: none;
}

.center-block {
  margin-right: 60px;
  margin-left: 60px;
}

#result {
  padding: 15px 15px 15px 15px;
  border-radius: 4px;
  border: solid;
  height: 400px;
  border-color: #ddd;
  overflow: auto; 
}

ol > li {
  list-style-type: upper-alpha;
  list-style-position: inside;
}

.title {
  text-align: center;
}

.list-group-item {
  display: list-item !important;
}

ul > li > .list-group-item {
  border-radius: 4px !important;
}

.rating {
  float: right;
}

.highlight {
  background-color: #FFD9A7;
}

.gray {
  color: #1b0b0a;
}

#share {
  display: flex;
}

.fb-share-button {
  margin-left: 10px;
}

/*my list*/
.my-list {
  padding: 15px 15px 15px 15px;
  border-radius: 4px;
  border: solid;
  height: 400px;
  border-color: #ddd;
  overflow: auto; 
  text-transform: capitalize;
}

textarea {
  width: 100%;
  border-radius: 4px;
  border-color: #ddd;
}

#restaurant-list {
  list-style-type: none;
}

#map {
  height: 300px;
}

/*footer*/
footer {
  height: 60px;
  background-image: url(../images/burgers.jpg);
  background-position: center center;
  background-size: cover;
}

#shaddow {
  height: 60px;
  background-color: rgba(0,0,0,.5);
  padding-top: 15px;
}

#scroll {
  color: #fff; 
  margin-left: 45px;
}