.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/*hero and header*/
.hero {
  height: 600px;
  background-image: url(../images/burgers.jpg);
  background-position: center center;
  background-size: cover;
}

#hook {
  background-color: rgba(0,0,0,.5);
  height: 600px; 
}

.hook-type {
  color: #fff;
}

#logo {
  margin-top: 0px;
  color: #fff;
}

/*search boxes*/
.input {
  display: block;
}

/*results and body*/
#result {
  padding: 15px 15px 15px 15px;
  border-radius: 4px;
  border: solid;
  height: 400px;
  border-color: #ddd;
  overflow: auto; 
}

ol > li {
  list-style-type: upper-alpha;
  list-style-position: inside;
}

.title {
  text-align: center;
}

.list-group-item {
  display: list-item !important;
}

.rating {
  float: right;
  margin-top: 10px;
}

.highlight {
  background-color: #afc2d2;
}

.gray {
  color: #1b0b0a;
}

#map {
  height: 400px;
}

.asterisk_input:after {
  content:" *"; 
  color: #DE1500;
  position: absolute; 
  margin: -50px 0px 0px 0px; 
  font-size: xx-large; 
  padding: 0 5px 0 0; 
}

/*footer*/
footer {
  height: 50px;
  background-image: url(../images/burgers.jpg);
  background-position: center center;
  background-size: cover;
}

#shaddow {
  height: 50px;
  background-color: rgba(0,0,0,.5);
}